@import "../global.scss";

.contact-me{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 60px);
    margin: 30px;

    @include breakpoint(lg){
        flex-direction: row;
    }

    .left{
        flex: 0.5;
        width: 100%;

        img{
            width: 100%;
        }
    }

    .right{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex: 0.5;
        max-width: 100%;
        position: relative;

        form{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-inline: 40px;
            width: calc(80% - 40px);

            label{
                font-size: 16px;
                font-weight: bold;
                margin-top: 10px;

                @include breakpoint(md){
                    font-size: 20px;
                    margin-top: 15px;
                }
            
                @include breakpoint(lg){
                    font-size: 22px;
                    margin-top: 15px;
                }
            }

            input{
                // 100% minus 10 padding x 2 + 1 border width x 2
                width: calc(100% - 12px);
                font-size: 16px;
                border-width: 1px;
                padding: 10px;
                border-color: gray;

                @include breakpoint(md){
                    font-size: 20px;
                }
            
                @include breakpoint(lg){
                    font-size: 22px;
                }

                &:focus{
                    border-color: $mainColor
                }
            }

            input[type=submit]{
                width: auto;
                align-self: flex-end;
                padding: 10px;
                color: white;
                background-color: $mainColor;
                border: 2px solid $mainColor;
                font-size: 16px;
                letter-spacing: 4px;
                margin-top: 10px 0 10px 0;
                cursor: pointer;
                transition: all 0.5s ease;

                @include breakpoint(md){
                    font-size: 18px;
                    margin: 20px 0 20px 0;
                }
            
                @include breakpoint(lg){
                    font-size: 22px;
                    padding: 20px;
                    margin: 20px 0 20px 0;
                }

                &:hover{
                    color: $mainColor;
                    background-color: white;
                }
            }

            textarea{
                // 100% minus 10 padding x 2 + 1 border width x 2
                width: calc(100% - 22px);
                margin: 0px;
                height: 80px;
                font-size: 18px;
                border-width: 1px;
                padding: 10px;
                border-color: gray;
                resize: none;

                &:focus{
                    border-color: $mainColor;
                }
            }
        }

        .successMsg{
            margin-inline: 40px;
            margin-top: 15px;
            width: calc(80% - 60px);
            color: white;
            font-size: 22px;
            font-weight: bold;
            padding: 20px;
            background-color: green;
            text-align: center;
            animation: successMsg 5s;

            @keyframes successMsg {
                0%{
                    opacity: 0;
                }

                25% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                }
            }
        }
    }
}