@import "../global.scss";

.contact-me{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .left{
        flex: 0.5;

        img{
            max-width: 100%;
        }
    }

    .right{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex: 0.5;
        max-width: 100%;
        position: relative;

        h1{
            font-size: 55px;
            color: $mainColor;
            letter-spacing: 3px;
            margin-inline: 40px;

            @include laptop{
                font-size: 45px;
            }

            @include iPad{
                font-size: 30px;
                margin: 0px 40px 0px 40px;
            }
        }

        p{
            font-size: 18px;
            line-height: 30px;
            margin-inline: 40px;

            @include iPad{
                font-size: 16px;
                line-height: 25px;
            }
        }

        form{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-inline: 40px;
            width: calc(80% - 40px);

            label{
                font-size: 22px;
                font-weight: bold;
                margin-top: 15px;

                @include laptop{
                    font-size: 20px;
                    margin-top: 12px;
                }

                @include iPad{
                    font-size: 18px;
                    margin-top: 8px;
                }
            }

            input{
                // 100% minus 10 padding x 2 + 1 border width x 2
                width: calc(100% - 12px);
                font-size: 20px;
                border-width: 1px;
                padding: 10px;
                font-size: 18px;
                border-color: gray;

                @include iPad{
                    padding: 5px;
                    font-size: 16px;
                }

                &:focus{
                    border-color: $mainColor
                }
            }

            input[type=submit]{
                width: auto;
                align-self: flex-end;
                padding: 20px;
                color: white;
                background-color: $mainColor;
                border: 2px solid $mainColor;
                font-size: 18px;
                letter-spacing: 4px;
                margin-top: 15px;
                cursor: pointer;
                transition: all 0.5s ease;

                @include laptop{
                    padding: 10px;
                    margin-top: 12px;
                }

                @include iPad{
                    padding: 5px;
                    margin-top: 8px;
                }

                &:hover{
                    color: $mainColor;
                    background-color: white;
                }
            }

            textarea{
                // 100% minus 10 padding x 2 + 1 border width x 2
                width: calc(100% - 22px);
                margin: 0px;
                height: 80px;
                font-size: 18px;
                border-width: 1px;
                padding: 10px;
                border-color: gray;
                resize: none;

                @include laptop{
                    height: 60px;
                }

                @include iPad{
                    width: calc(100% - 12px);
                    padding: 5px;
                    font-size: 16px;
                }

                &:focus{
                    border-color: $mainColor;
                }
            }
        }

        .successMsg{
            margin-inline: 40px;
            margin-top: 15px;
            width: calc(80% - 60px);
            color: white;
            font-size: 22px;
            font-weight: bold;
            padding: 20px;
            background-color: green;
            text-align: center;
            animation: successMsg 5s;

            @include laptop{
                margin-top: 12px;
                font-size: 20px;
                padding: 10px;
            }

            @include iPad{
                margin-top: 8px;
                font-size: 18px;
                padding: 5px;
            }

            @keyframes successMsg {
                0%{
                    opacity: 0;
                }

                25% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                }
            }
        }
    }
}