@import "../global.scss";

.home {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .intro{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 30px;

        .software-engineer{
            background-color: $mainColor;
            padding: 30px;
            font-size: large;
            letter-spacing: 3px;
            border-radius: 5px;
            color: white;
            z-index: 1;

            @include laptop{
                padding: 20px;
                font-size: medium;
            }

            @include iPad{
                padding: 15px;
                font-size: medium;
            }
        }

        h1{
            z-index: 1;
            color: black;
            font-size: 65px;

            @include laptop{
                font-size: 45px;
            }

            @include iPad{
                font-size: 40px;
            }

            font{
                color: $mainColor;
            }
        }

        p{
            font-size: 22px;
            line-height: 30px;

            @include laptop{
                font-size: 20px;
            }

            @include iPad{
                font-size: 18px;
            }
        }

        button{
            padding: 20px;
            color: white;
            background-color: $mainColor;
            border: 2px solid $mainColor;
            font-size: 18px;
            letter-spacing: 4px;
            cursor: pointer;
            transition: all 0.5s ease;

            @include laptop{
                padding: 15px;
            }

            @include iPad{
                padding: 12px;  
            }

            &:hover{
                color: $mainColor;
                background-color: white;
            }

        }

        .balls-container{
            position: relative;
            bottom: 350px;
            right: 100px;
            display: flex;
            flex-wrap: wrap;
            width: 500px;
            z-index: 0;

            .ball{
                margin: 5px;
                width: 2px;
                height: 2px;
                border-radius: 50%;
                background-color: $mainColor;
            }
        }

        .social-container{
            display: flex;

            a{

                &:hover{
                    opacity: 0.7;
                    cursor: pointer;
                }
            }
        }
    }

    .image-container{
        height: 700px;
        width: 700px;
        margin: 30px;

        @include laptop{
            margin: 20px;
            height: 500px;
            width: 500px;
        }

        @include iPad{
            margin: 15px;
            height: 400px;
            width: 400px;
        }
        
        .code{
            width: 0px;
            position: relative;
            top: 50px;
            left: 50px;
            z-index: 2;
            animation: code-move 5.0s infinite;

            @include iPad{
                top: 40px;
                left: -50px;
            }

            @keyframes code-move{
                0% {
                    transform: translateY(-50px);
                }
    
                50% {
                    transform: translateY(50px);
                }
    
                100% {
                    transform: translateY(-50px);
                }
            }

            img{
                width: 150px;

                @include laptop{
                    width: 120px;
                }

                @include iPad{
                    width: 100px;
                }
            }
        }

        .myself{
            position: relative;
            left: 25%;
            z-index: 1;
            width: 0px;

            @include iPad{
                left: 0%;
            }

            img{
                height: 500px;

                @include laptop{
                    height: 400px;
                }

                @include iPad{
                    width: 300px;
                }
            }
        }

        .android{
            position: relative;
            bottom: 550px;
            left: 480px;
            z-index: 2;
            width: 0px;
            animation: android-move 4.0s infinite;

            @include laptop{
                bottom: 450px;
                left: 380px;
            }

            @include iPad{
                bottom: 420px;
                left: 250px;
            }

            @keyframes android-move{
                0% {
                    transform: translateY(-20px);
                }
    
                50% {
                    transform: translateY(20px);
                }
    
                100% {
                    transform: translateY(-20px);
                }
            }

            img{
                width: 130px;

                @include laptop{
                    width: 110px;
                }

                @include iPad{
                    width: 90px;
                }
            }
        }

        .react{
            position: relative;
            bottom: 500px;
            left: 40px;
            z-index: 2;
            width: 0px;
            animation: react-move 7.0s infinite;

            @include laptop{
                bottom: 400px;
                left: 20px;
            }

            @include iPad{
                bottom: 380px;
                left: -60px;
            }

            @keyframes react-move{
                0% {
                    transform: translateY(-10px);
                }
    
                50% {
                    transform: translateY(10px);
                }
    
                100% {
                    transform: translateY(-10px);
                }
            }

            img{
                width: 120px;

                @include laptop{
                    width: 100px;
                }

                @include iPad{
                    width: 80px;
                }
            }
        }

        .java{
            position: relative;
            bottom: 400px;
            left: 560px;
            z-index: 2;
            width: 0px;

            @include laptop{
                bottom: 300px;
                left: 460px;
            }

            @include iPad{
                bottom: 270px;
                left: 320px;
            }

            img{
                width: 100px;

                @include laptop{
                    width: 80px;
                }

                @include iPad{
                    width: 60px;
                }
            }
        }

        .blob{
            position: relative;
            bottom: 1000px;
            width: 0px;

            @include laptop{
                bottom: 770px;
            }

            @include iPad{
                bottom: 660px;
                left: -75px;
            }

            img{
                width: 700px;

                @include laptop{
                    width: 520px;
                }

                @include iPad{
                    width: 460px;
                }
            }
        }
    }
    
}