
// color used globally
$mainColor: #c1332a;

// screen size
$widthMobile: 768px;
$widthiPad: 1024px;
$widthLaptop: 1440px;

@mixin mobile {
    @media (max-width: #{$widthMobile}){
        @content
    }
}

@mixin iPad {
    @media (max-width: #{$widthiPad}){
        @content
    }
}

@mixin laptop {
    @media (max-width: #{$widthLaptop}){
        @content
    }
}