
// color used globally
$mainColor: #c1332a;

// screen size
$widthMobile: 768px;
$widthDesktop: 769px;
$widthLaptop: 1440px;

@mixin mobile {
    @media (max-width: #{$widthMobile}){
        @content
    }
}

@mixin web {
    @media (min-width: #{$widthDesktop}){
        @content
    }
}

@mixin laptop {
    @media (max-width: #{$widthLaptop}){
        @content
    }
}