@import "../global.scss";

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
    background: $mainColor;
    padding: 10px;
    color: white;
}